# Compiled source #
###################
*.pyc
# Backup & Temp #
#################
*.~
# Log #
#######
log.txt
# List file #
#############
list_files/*
# Testing script #
##################
test.py
# Sublime project file #
########################
*.sublime-project
*.sublime-workspace